parameters:
    level: max
    paths:
        - bin
        - config
        - public
        - src
        - tests
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    ignoreErrors:
        #- '#my_ignored_error_regexp_pattern#'